<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>us.peelman.user.SynergyClient</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Synergy/SynergyClient/synergyc</string>
		<string>-f</string>
		<string>-d</string>
		<string>ERROR</string>
		<string>-n</string>
		<string>megrez</string>
		<string>merak.ics.purdue.edu</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
